streamlit
openai
langchain==0.0.222
fpdf
Pillow
azure-storage-blob


what tools we should use:
Vector database: Chroma, Weaviate, Pincone
https://www.youtube.com/watch?v=klTvEwg3oJ4&t=123s
openai emmeding api
reterival plugin
Prompt engineering

Datasets:
https://www.tensorflow.org/datasets/catalog/scientific_papers
https://arxiv.org/abs/2110.10774
https://paperswithcode.com/dataset/qasper
https://www.kaggle.com/datasets/Cornell-University/arxiv
https://github.com/Significant-Gravitas/Auto-GPT

Models:
gpt4
palm2
llama2
lambda
bard
Claude